<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>マイルストーンアプリケーション</h1>
    <a href="./milestones/list.html" th:href="@{/milestones}">マイルストーンページ</a>
    <form action="./list.html" method="post">
        <label for="milestoneInput">マイルストーン</label>
        <input id="milestoneInput" type="text">
        <label for="descriptionInput">説明</label>
        <input id="descriptionInput" type="text">
        <input type="submit">作成</input>
    </form>
</body>
</html>