<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>一覧ページ｜マイルストーンアプリケーション</title>
  </head>

  <body>
    <h1>マイルストーン</h1>
    <a th:href="@{/}">トップページ</a>
    <a th:href="@{/milestones/creationForm}">作成</a>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>マイルストーン</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="milestone : ${milestoneList}">
          <td th:text="${milestone.id}"></td>
          <td>
            <a
              th:text="${milestone.milestone}"
              th:href="@{/milestones/{id}(id=*{milestone.id})}"
            ></a>
          </td>
          <td th:text="${milestone.status}"></td>
          <td th:text="${milestone.priority}"></td>
          <td th:text="${milestone.date}"></td>
          <td th:text="${milestone.category}"></td>
        </tr>
      </tbody>
    </table>
    <a href="../index.html" th:href="@{/}">トップページ</a>
    <a th:href="@{/logout}">ログアウト</a>
  </body>
</html>
