<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイルストーン|アプリケーション</title>
</head>

<body>
    <h1>マイルストーン</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>マイルストーン</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="milestone : ${milestoneList}">
                <td th:text="${milestone.id}"></td>
                <td th:text="${milestone.milestone}"></td>
                <td th:text="${milestone.description}"></td>
            </tr>
        </tbody>
    </table>
    <a href="../index.html" th:href="@{/}">トップページ</a>
</body>

</html>