<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ユーザー登録ページ｜マイルストーンアプリケーション</title>
  </head>
  <body>
    <h1>ユーザー登録</h1>
    <a th:href="@{/milestones}">マイルストーンページ</a>
    <form  action="#" th:action="@{/milestones}" method="post" th:object="${userdata}">
       <div>
        <label for="userNameInput">ユーザー名</label>
        <input id="userNameInput" type="text" th:field="*{userName}"><br>
        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">(error)</p>
       </div>
       <div>
        <label for="passwordInput">パスワード</label>
        <input id="passwordInput" type="text" th:field="*{password}"><br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">(error)</p>
       </div>
        
        <input type="submit" value="作成"></input>
    </form>
  </body>
</html>
